@model List<TestSolutionSmartHead.Models.Idea>
@using System.Text
@{
    ViewBag.Title = "Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<div>
    <h4>Идеи</h4>
    @if (!Model.Any())
    {
        <div style="display:flex !important"><p>No ideas now</p></div>
    }
    else
    {
        foreach (var m in Model)
        {
            if (!m.Blocked)
            {
                <div id="@m.Id" class="idea" style="display:flex !important">
                    <p>User: @m.User.Name</p><p>Idea: @m.Text</p>
                    <p>Pos:</p><p id="Pos-@m.Id">@m.Positive</p><p>Neg:</p><p id="Neg-@m.Id">@m.Negative</p>
                    @if (!ViewBag.VoteList.Contains("/" + @m.Id + "/") && ViewBag.VoteCount > 0)
                    {
                        <button id="Positive-@m.Id" type="button" onclick="addVote(@m.Id,1)">Positive</button>
                        <button id="Negative-@m.Id" type="button" onclick="addVote(@m.Id,0)">Negative</button>
                    }
                </div>
            }
        }
    }
</div>
@if (!string.IsNullOrWhiteSpace(ViewBag.UserName))
{
    <form class="form-inline" method="post" name="AddIdea">
        <input class="form-control" id="text" name="Text" type="text" placeholder="Напишите свою идею" />
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
}
<script type="text/javascript" language="javascript">
    function addVote(id, vote) {
        $.ajax({
            type: 'POST',
            url: '/Home/AddVote?id=' + id + '&isPos=' + vote,
            success: function (resp) {
                document.location.href = "/Home/Index";
            },
            error: function (resp) {
                document.location.href = "/Home/Index";
            }
        });
    }
</script>