<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Тест SmartHead</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-expand navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("На главную", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (!string.IsNullOrWhiteSpace(ViewBag.UserName))
            {
                <div class="navbar-header alert-success navbar-collapse collapse"><p>Вы авторизованы как <b>@ViewBag.UserName</b></p></div>
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    @if (string.IsNullOrWhiteSpace(ViewBag.UserName))
                    {
                        <li>@Html.ActionLink("Вход", "Login", "Account")</li>
                        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Выход", "Logoff", "Account")</li>
                        if ((int)ViewBag.UserRole == 1)
                        {
                            <li>@Html.ActionLink("Панель управления", "Panel", "Moderation")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content my-5">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
